body {
    padding-top: 100px;
}

.expositor {
    /* background-color: rgb(191, 225, 255); */
    width: 200px;
    height: 430px;
    border-radius: 10% 10% 0px 0px;
    position: relative;

}

.imagem {
    width: 100%;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    position: absolute;
    z-index: 2;
    transition: all 1s ease;
}

.imagem img {
    width: 90%;
}

.informacoes-expositor {
    background-color: #F8F8F8;
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 0px;
    transition: all 1s ease;
}

.expositor:hover .informacoes-expositor,
.expositor:hover .imagem {
    margin-top: -15px;
    background-color: #FDF148;
}

.informacoes-expositor h3 {
    margin-top: 80px;
    font-size: 1.1rem;
}

#informacao {
    padding: 0;
    width: 100%;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

#informacao .rua::after {
    content: "";
    position: relative;
    top: -13px;
    left: 8px;
    display: inline;
    border-bottom: 10px solid #FDF148;
    background-color: none;
    padding-left: 55px;
}

.text-info {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.text-info span {
    font-weight: 500;
}

.botao {
    width: 100%;
    padding: 15px 0px;
}

.botao button {
    border: none;
    background-color: #F7F183;
    padding: 5px 15px;
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}