.content-halyson {
    width: 100%;
    /* background-color: white; */
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 30px;
    padding: 0px 10px;
}

.box-contato-halyson {
    width: auto;
    height: 100px;
}

.box-contato-halyson {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.icons-rede-halyson {
    color: var(--color-preto-halyson);
    font-size: 2.3rem;
    padding: 5px;
    transition: all .2s ease-in-out;
}

.icons-rede-halyson:hover {
    color: var(--color-vermelha-2-halyson);
    font-size: 2.5rem;
    transition: all .1s ease-in-out;
}

.link-redes-halyson {
    color: var(--color-preto-halyson);
}