@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('inicio-halyson.css');
@import url('sobre-halyson.css');
@import url('contatos-halyson.css');
@import url('projetos-halyson.css');
@import url('skils-halyson.css');
@import url('rodape-halyson.css');
@import url('menu-halyson.css');

:root {
    --color-branca-halyson: #ffffff;
    --color-preta-halyson: #000000;

    --color-fundo-halyson: #ffffff;

    --color-vermelha-halyson: #8B0000;
    --color-vermelha-2-halyson: #ff0000;
    --color-azul-halyson: #003CFF;
    --color-verde-halyson: #00FF55;
}

.corpo-halyson {
    width: 100%;
    max-height: 100%;
    background-color: var(--color-fundo-halyson);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main-halyson {
    width: 100%;
    height: auto;
}

.text-halyson {
    font-size: 1.5rem;
}

.tittle-halyson {
    font-size: 2rem;
    font-weight: bold;
}

.tittle-h4-halyson {
    font-size: 1.8rem;
    color: var(--color-branca-halyson);
}

@media screen and (max-width: 1250px) {
    .cabecalho-halyson {
        height: 80px;
    }

    .logo-halyson {
        width: 70px;
    }

    .item-halyson {
        font-size: .8rem;
    }

    .banner-text-halyson {
        position: relative;
        margin: 0px auto;
        left: 0;
    }

    .box-img-perfil-halyson {
        position: relative;
        margin: 0px auto;
        top: 400px;
        bottom: 0;
        right: 0;

    }

    .img-banner-halyson {
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .text-halyson {
        font-size: 1.1rem;
    }

    .projetos-halyson {
        padding: 0px;
    }

    .img-text-halyson {
        margin-left: 10px;
    }

    .img-halyson {
        height: 400px;
    }

    .text-card-halyson {
        font-size: 0.8rem;
    }

    .cards-halyson {
        padding: 0;
    }
}

@media screen and (max-width: 950px) {
    .nave-halyson {
        display: none;
    }

    .sobre-halyson {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box-sobre-halyson {
        display: none;
    }

    .box-text-sobre-halyson {
        width: 100%;
        padding: 10px 20px;
    }

    .content-halyson {
        width: 100%;
        flex-wrap: wrap;
        height: auto;
    }

    .content-projetos-halyson {
        display: flex;
        flex-direction: column;
    }

    .img-text-halyson {
        width: 50%;
        min-width: 300px;
    }

    .img-halyson {
        width: 300px;
    }

    .cards-halyson {
        width: 100%;
    }

    .card-halyson {
        height: auto;
    }

    .box-skill-halyson {
        margin-left: 20px;
        width: auto;
    }
}

@media screen and (max-width: 550px) {
    .banner-text-halyson {
        width: 250px;
    }

    .text-banner-halyson {
        font-size: 1.2rem;
    }

    .span-text-halyson {
        font-size: 1rem;
        margin-left: 20px;
    }

    .box-img-perfil-halyson {
        width: 250px;
        height: 250px;
    }

    .banner-text-halyson {
        top: 120px;
    }

    .box-img-perfil-halyson {
        bottom: 0;
    }

    .sobre-halyson {
        padding: 10px 50px;
    }

    .box-text-sobre-halyson {
        width: 100%;

    }

    .text-sobre-halyson {
        width: 100%;
        font-size: 1rem;
    }

    .text-contato-halyson {
        font-size: 1rem;
    }

    .card-halyson {
        flex-direction: column;
    }
}

@media screen and (max-width: 385px) {
    .box-img-perfil-halyson {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}