.card-main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.card {
    background-color: #F4F4F4;
    border-radius: 10px;
    max-width: 1250px;
    width: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card .banner {
    position: relative;
    width: 100%;
    height: 100px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.50);
    object-fit: cover;
    background-color: #F4F4F4;
    border-radius: 10px 10px 0px 0px;
}

.img-banner {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    /* display: none; */
}

.img-editar-banner {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.img-btn-editar {
    width: 15px;
}

.foto-perfil {
    background-color: #F4F4F4;
    width: 155px;
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    margin-top: -80px;
    margin-left: 10px;
    z-index: 3;
}

.img-perfil {
    width: 150px;
}

.btn-editar-perfil {
    position: absolute;
    width: 15px;
}

.informacoes {
    width: 100%;
    height: auto;
    background-color: rgb(247, 247, 247);
    z-index: 2;
    margin-top: -30px;
    background-color: #F4F4F4;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: row;
}

.sobre {
    width: 55%;
    height: auto;
    border-right: 3px solid rgba(0, 0, 0, 0.15);
    padding-left: 15px;
}

.content {
    margin-top: 10px;
    width: 200px;
    
}

.content-nome {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
    margin-left: 0px;
    width: auto;
    height: auto;
}

.name {
    font-size: 1.4rem;
}

.content-sobre-empresa {
    gap: 10px;
    width: 90%;
    margin-top: 10px;
}

.content-title {
    font-size: 1rem;
}

.title-sobre-empresa {
    display: inline;

}

.btn-empresa {
    width: 13px;
    margin-left: 8px;
}

.content-text {
    font-size: 0.8rem;
    width: 100%;
}

.informacoes-padroes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #5CB74A; */
}

.cor-rua {
    width: 100px;
    height: 15px;
    border-radius: 5px;
    background-color: #5CB74A;
}

.content-pagamento {
    width: 300px;
    height: auto;

}

.content-title-pagamento {
    display: inline;
}

.content-pagamento img {
    margin-left: 8px;
}

.sobre .content-pagamento .list-pagamento {
    list-style: none;
    margin-left: 5px;
    width: 180px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.sobre .content-pagamento .list-pagamento li {
    font-size: 0.8rem;
}

.info-pessoais {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 15px 25px;
}

.title-info-pes {
    display: inline;
    max-width: 200px;
}

.meios-cantato {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.contato {
    padding: 5px 10px;
}

.content-pessoais {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-top: 8px;
    gap: 10px;
}

.contato {
    font-weight: 600;
    font-size: .7rem;
}

.content-galeria {
    max-width: 500px;
    width: 100%;
    margin-top: 15px;
    padding: 10px 0px;
    margin-bottom: 5px;
    display: block;
}

.title-galeria {
    display: inline;
    font-size: 1.2rem;
    margin-right: 10px;
}

.galeria {
    max-width: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.445);
}

.img-galeria {
    max-width: 350px;
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 1050px) {
    .name {
        font-size: 1rem;
    }

    .img-btn-editar {
        width: 10px;
    }

    .foto-perfil {
        width: 105px;
        height: 105px;
    }
    .img-perfil {
        width: 100px;
        height: 100px;
    }

    .informacoes {
        margin-top: -30px;
    }

    .content-nome {
        margin-left: 100px;
    }

    .content-sobre-empresa {
        margin-top: 10px;
    }

    .content-title {
        font-size: 0.8rem;
    }
    .content-text {
        font-size: 0.7rem;
    }

    .list-pagamento li {
        font-size: 0.6rem;
    }

    .title-galeria {
        font-size: 1rem;
    }
}

@media screen and (max-width: 650px) {
    body {
        overflow: scroll;
    }

    .informacoes {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
    }
    .foto-perfil {
        width: 105px;
        height: 105px;
        margin-top: -25px;
    }

    .foto-perfil .img-perfil {
        width: 100px;
    }

    .sobre {
        width: 100%;
        border: none;
    }

    .info-pessoais {
        width: 100%;
        padding-left: 15px;
    }

    .content-nome {
        margin-left: 0px;
    }
}